@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
* {
    font-family: "Hubballi", Comic Sans MS, Comic Sans, cursive, sans-serif;
    margin: 0;
    padding: 0;
}

#mic_access_failure {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background: rgba(255, 255, 255, .66);
    justify-content: center;
    align-items: center;
}

#mic_access_failure #modal_main {
    text-align: center;
    height: 40%;
    width: 40%;
    background-color: white;
    /*box-shadow sourced from https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 16px;
    border-radius: 16px;
}

#mic_access_failure #modal_main h1 {
    font-size: 3em;
}

#mic_access_failure #modal_main h2 {
    font-size: 2em;
    color: gray;
}

header {
    text-align: center;
    border-bottom: 1px solid gray;
    font-size: 5vh;
    padding: 1vh;
}

header #F2_mode {
    float: left;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background: gray;
}

header h2 {
    font-size: 3vh;
    color: gray;
}

main toolbar #rec {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(100, 100, 100);
    background-color: transparent;
    margin: 0 16px;
}

main toolbar button {
    cursor: pointer;
}

main toolbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100vw;
    background-color: gray;
    padding: 5px 0;
    border-radius: 10px;
    position: absolute;
    /*resize: horizontal;*/
    overflow: auto;
}


/*Taken from StackOverflow: https://stackoverflow.com/questions/18580795/possible-to-style-the-css3-resize-function*/

main toolbar #toolbar_handle {
    display: block;
    height: 100%;
    width: 10px;
    background: rgb(80, 80, 80);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 11;
    text-align: center;
    color: gray;
}

main toolbar #toolbar_handle .material-icons {
    margin-top: 100%;
    font-size: 10px;
}

main toolbar #toolbarheader {
    z-index: 20;
    margin-left: 50%;
    position: absolute;
    top: 0;
}

version {
    user-select: none;
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 16px;
    margin: 6px;
    z-index: 5;
    border-radius: 10px;
    /*box-shadow sourced from https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

version:hover {
    transform: scale(1.25, 1.25);
    margin: 24px;
    cursor: pointer;
}